* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(120deg, #1d2671, #c33764);
    color: #fff;
}

/* Navbar */
header {
    position: sticky;
    top: 0;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(10px);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}

.logo {
    font-size: 26px;
}

.logo span {
    color: #00f2fe;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #00f2fe;
}

/* Hero */
.hero {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 48px;
}

.hero span {
    color: #00f2fe;
}

.hero p {
    margin: 15px 0;
    font-size: 18px;
}
.profile-img {
  width: 150px;
  border-radius: 50%;
  margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    background: #00f2fe;
    color: black;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.1);
}

/* Sections */
.section {
    padding: 70px 80px;
    text-align: center;
}

.section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

/* Glass effect */
.glass {
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(12px);
    border-radius: 20px;
    margin: 40px;
}

/* Skills */
.skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.skill {
    padding: 12px 25px;
    background: rgba(255,255,255,0.2);
    border-radius: 30px;
    transition: 0.3s;
}

.skill:hover {
    background: #00f2fe;
    color: black;
}

/* Projects */
.projects {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    width: 260px;
    padding: 25px;
    background: rgba(255,255,255,0.15);
    border-radius: 20px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    background: rgba(255,255,255,0.25);
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: rgba(0,0,0,0.4);
}
